#tag-editor {
  display: block;
  width: 100%;
  padding-bottom: 10%;

  margin-top: auto;

  div {
    width: 100%;

    &.add-tag {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      margin-bottom: 15px;

      input {
        margin-bottom: 0;
      }

      button {
        width: 20%;
        margin-left: 15px;
      }
    }
  }

  .title > * {
    font-weight: 500;
    color: $writter-color;
    margin-top: 0;
  }

  .tags {
    border-bottom: 1px solid $tag_writter_input_over;
    padding-bottom: 10px;
    margin-bottom: 15px;

    .tag {
      position: relative;
      cursor: default;

      &:hover {
        .remove {
          visibility: visible;
        }
      }

      .remove {
        background-color: $black_bg;
        position: absolute;
        border-radius: 100px;
        right: -6px;
        top: -14px;
        width: 16px;
        height: 16px;
        opacity: 0.3;
        visibility: hidden;
        transition: $transition_normal;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &:before,
        &:after {
          position: absolute;
          content: " ";
          height: 8px;
          width: 2px;
          background-color: $background;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .available-tags {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    button {
      background: rgba(82, 82, 82, 0.129);
      color: $color;
    }
  }

  button {
    height: 40px;
    width: auto;
    margin-bottom: 6px;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}
