#author-more {
  width: 100%;

  .info-item {
    .title {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      h3 {
        font-weight: 500;
        margin: 0;
      }

      .count {
        font-weight: 400;
        color: $active_elem;
        margin: 0 0 0 8px;
      }
    }

    .list {
      padding-right: $list_inner_pad;

      .item {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        border-bottom: $list_item_border $light_border;
        height: $list_item_height;
        width: calc(50% - $list_items_gap_btw);
        padding-bottom: 5px;
        margin-bottom: $post_item_gap;

        .icon {
          border-radius: 50%;
          height: $user_icon_small;
          width: $user_icon_small;
          min-width: $user_icon_small;
          margin-right: $list_add_info_gap;
          overflow: hidden;

          img {
            object-fit: cover;
          }
        }

        .name {
          p {
            margin: 0;
          }
        }

        .button {
          margin-left: auto;
          padding: $list_add_info_gap;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding-top: $list_add_info_gap;

      p {
        transition: all $transition_normal;
        cursor: pointer;
        margin: 0;

        &:hover {
          color: $active_elem;
        }
      }
    }

    &:not(.loading-component) {
      .item {
        .icon {
          background: $color;
        }
      }
    }

    &.loading-component {
      .title {
        justify-content: flex-start;
        width: 100%;

        span {
          @include font_size_type($loader: true, $type: "h4");
          max-width: $h4_font_size;

          &:not(.count) {
            max-width: 220px;
          }
        }
      }

      .actions {
        span {
          @include font_size_type($loader: true, $type: "p");
          max-width: 120px;
        }
      }
    }
  }

  @media only screen and (max-width: 550px) {
    & {
      .info-item {
        .list {
          padding-right: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 450px) {
    & {
      .info-item {
        .list {
          .item {
            width: 100%;
          }
        }
      }
    }
  }
}
