#author-info {
  border-radius: $reg_radius;
  margin-bottom: $posts_gap;
  z-index: 1;

  .edit {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    & > .title {
      border-top: 2px solid $elem_over_bg;
      border-bottom: 2px solid $elem_over_bg;
      width: 100%;
      margin: 15px 0 30px 0;
    }

    form {
      .item {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 8px;

        &.update {
          padding-bottom: 16px;
        }

        div {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;

          input {
            width: calc(50% - 16px);
          }
        }

        .title {
          border-bottom: 2px solid $elem_over_bg;
          width: 100%;
          margin-bottom: 16px;

          p {
            margin: 0 0 8px 0;
          }
        }

        .button {
          width: 45%;
          margin: 0 auto;
        }
      }
    }
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $banner_height;
    width: 100%;
    border-radius: $reg_radius $reg_radius 0 0;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  &.tag {
    .info {
      border-radius: $reg_radius;
      padding-top: ($banner_height / 10);
    }
  }

  &:not(.loading-component) {
    .info {
      .icon {
        background: $color;
      }
    }
  }

  .info {
    border-radius: 0 0 $reg_radius $reg_radius;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;

    .icon {
      position: relative;
      width: $post_author_icon;
      height: $post_author_icon;
      border: $post_author_icon_border $active_elem;
      border-radius: 50%;
      margin-top: -40px;
      overflow: hidden;

      img {
        object-fit: cover;
      }
    }

    .disription > *,
    .name > * {
      margin: 0;
    }

    .name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        font-weight: 400;
      }
    }

    .disription {
      p {
        font-weight: 400;
      }
    }

    .author-counters {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      .item {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        &:not(:last-child) {
          margin-right: $list_items_gap;
        }

        .count {
          p {
            font-weight: 700;
          }
          margin-right: $post_initem_gap;
        }

        .title > * {
          font-weight: 400;
        }

        p {
          margin: 0;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
      padding-top: 10px;

      .list-of-actions {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .item {
          border-bottom: 2px solid $border_action;
          padding: $list_item_pad;
          transition: all $transition_normal;
          cursor: pointer;

          &.active,
          &:hover {
            border-bottom-color: $active_elem;
          }

          &:not(:last-child) {
            margin-right: $list_items_gap;
          }

          p {
            margin: 0;
            cursor: pointer;
          }
        }
      }

      .filter {
        position: relative;
        margin-bottom: $list_filter_mrg_btm;

        .triangle {
          margin-bottom: 0;
        }

        .wrapper {
          top: 20px;
          right: -8px;
          bottom: auto;

          .list p {
            font-size: $p_font_size;

            &:not(:last-child) {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }

  &.loading-component {
    .info {
      span {
        margin-bottom: 12px;
      }

      .name {
        height: $h2_font_size;
        max-width: 220px;
      }

      .disription {
        height: $p_font_size * 3;
        max-width: 345px;
      }

      .author-counters {
        justify-content: flex-start;
        width: 100%;

        span {
          height: $p_font_size;
          max-width: 120px;
          margin-bottom: 0;
   

          &:first-child {
            max-width: $p_font_size;
            margin-right: 4px;
          }
        }
      }
      
      .actions {
        .list-of-actions {
          span {
            height: $p_font_size;
            width: 80px;
            margin-bottom: 0;
          }
        }
      }

      .changer {
        height: $p_font_size;
        max-width: 40px;
        
      }
    }
  }
}
