#comments {

  &.post-wrapper > div {
    width: 100%;
  }

  & > .title {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    h3,
    p {
      margin: 0;
    }

    .count {
      color: $active_elem;
      margin-left: $post_add_info_gap;

      p {
        font-size: $p_font_size;
      }
    }
  }

  .comment {
    margin-bottom: $post_inn_pad;
  }

  .item {
    background: $elem_over_bg;
    width: 100%;
    padding: $comm_item_pad $comm_item_pad $comm_item_pad $comm_item_pad;
    margin-bottom: $post_inn_pad;

    &:hover {
      & > .main-content {
        & .edit,
        & > .delete {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    & > div:not(:last-child) {
      margin-bottom: $post_inn_pad;
    }

    .main-content {
      position: relative;

      & > div:not(:last-child),
      & > a:not(:last-child),
      & > form:not(:last-child) {
        margin-bottom: $comm_item_pad;
      }

      .edit,
      .delete {
        position: absolute;
        top: 6px;
        right: 0;
        visibility: hidden;
        opacity: 0;
        transition: $transition_normal;
      }

      .edit {
        right: 35px;
      }

      .user-author {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .author {
          display: flex;
          justify-content: center;
          flex-direction: row;
          align-items: center;

          .user-icon {
            background: $color;
            border-radius: 50%;
            height: $user_icon_small;
            width: $user_icon_small;
            min-width: $user_icon_small;
            cursor: pointer;
            overflow: hidden;

            img {
              display: flex;
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .author-names {
            margin-left: $post_author_gap;
            cursor: pointer;

            .time {
              p {
                font-size: $p_font_size_small;
                font-weight: 300;
              }
            }
          }
        }

        p {
          margin: 0;
        }
      }

      .content {
        line-height: 1.75;

        p {
          margin: 0;

          &:not(:last-child) {
            margin-bottom: $comm_item_pad;
          }
        }

        img {
          background: $overhigh_bg;
          display: flex;
          border-top: $post_image_hold_pad_vt $overhigh_bg;
          border-bottom: $post_image_hold_pad_vt $overhigh_bg;
          border-left: $post_image_hold_pad_hr $overhigh_bg;
          border-right: $post_image_hold_pad_hr $overhigh_bg;
          height: auto;
          width: 100%;
          min-width: 50%;
          object-fit: contain;
          object-position: center;
          padding: $post_image_hold_pad_vt $post_image_hold_pad_hr;
          margin-bottom: 15px;
        }
      }

      .interactions {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        p {
          margin: 0;
        }

        .lt-side,
        .rt-side {
          display: flex;
          justify-content: center;
          flex-direction: row;
          align-items: center;

          & > div {
            transition: all $transition_normal;
            cursor: pointer;

            p {
              transition: all $transition_normal;
            }

            &:hover {
              & > p {
                color: $active_elem;
              }

              & > div {
                color: inherit;
              }
            }

            &:not(:last-child) {
              margin-right: $post_add_info_gap;
            }
          }

          .complain {
            position: relative;

            .notification {
              z-index: 1;
              top: 15px;
              right: auto;
              left: 3px;

              .triangle {
                margin: 0 auto 0 9px;
              }

              .item {
                margin-bottom: $notif_item_mrg;
                padding: 0;

                .user-ico {
                  margin-bottom: 0;
                }

                .content {
                  margin-left: 0;
                }
              }
            }
          }

          .answer {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              margin-right: $comm_add_info_gap;
            }

            .fafont-icon {
              color: inherit;
            }
          }

          .answer-count {
            color: $active_elem;
          }
        }
      }

      .comment {
        margin-top: $post_inn_pad;
        margin-bottom: 0;
      }
    }

    .comments-to-item {
      padding: $comm_container_pad;
      border-left: 1px solid $light_border;

      .item {
        margin-bottom: 0;

        // .main-content {
        //   margin-bottom: 0;
        // }

        &:not(:last-child) {
          padding-bottom: $notif_item_mrg;
          margin-bottom: 20px;
        }

        &:last-child {
          padding-bottom: $comm_item_pad;
        }
      }
    }
  }
}
