.post-wrapper {
  background-color: $elem_over_bg;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  border-radius: $reg_radius;
  width: 100%;
  padding: $post_inn_pad;
  margin-bottom: $posts_gap;

  .container > div:not(:last-child, .notification *),
  & > div:not(:last-child, .container, .notification *) {
    margin-bottom: $post_item_gap;
  }
}

.posts-container {
  & > div,
  & > div > div {
    width: 100%;
  }
}

.post {
  overflow: hidden;

  &.fail-page {
    .interactions,
    .name {
      display: none;
    }
  }

  &:not(.loading-component) {
    .user-author {
      .author {
        .user-icon {
          background: $color;
        }
      }
    }
  }

  .user-author {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .author {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      .user-icon {
        border-radius: 50%;
        height: $user_icon_small;
        width: $user_icon_small;
        min-width: $user_icon_small;
        cursor: pointer;
        overflow: hidden;

        img {
          display: flex;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .author-names {
        margin-left: $post_author_gap;
        cursor: pointer;

        .name {
          @include font_size_type($loader: false, $type: "p_small");
          font-weight: 300;
        }
      }
    }

    p {
      margin: 0;
    }
  }

  .add-info,
  .interactions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;

    p {
      margin: 0;
    }

    .lt-side {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      & > .likes,
      .comments {
        transition: all $transition_normal;

        div {
          color: inherit;
        }

        &:hover {
          color: $active_elem;
        }
      }

      & > div:not(:last-child) {
        margin-right: $post_action_vote_gap;
      }
    }

    .interactive {
      cursor: pointer;

      p {
        transition: all $transition_normal;
        &:hover {
          color: $active_elem;
        }
      }
    }
  }

  div.add-info {
    margin-bottom: 0;

    & > div > div {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      white-space: nowrap;
    }

    p {
      @include font_size_type($loader: false, $type: "p_small");
      margin: 0;
    }

    .hashtags {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      max-width: 100%;
      width: 100%;

      a,
      p {
        transition: all $transition_normal;
        cursor: pointer;

        &:hover {
          color: $active_elem;
        }

        &:not(:last-child) {
          margin-right: $post_hash_gap;
        }
      }
    }

    .counters {
      p {
        cursor: auto;
      }

      div:not(:last-child) {
        margin-right: $post_add_info_gap;
      }
    }
  }

  .interactions {
    padding-top: $post_interact_pad_top;
  }

  .content {
    .title {
      margin-bottom: $post_item_gap;

      h3 {
        font-weight: 500;
        margin: 0;
      }
    }

    .text-block {
      line-height: $post_text_height;

      & > *:not(:last-child) {
        margin-bottom: $post_item_gap;
      }

      p {
        margin: 0;
      }
    }

    img {
      background: $overhigh_bg;
      display: flex;
      border-top: $post_image_hold_pad_vt $overhigh_bg;
      border-bottom: $post_image_hold_pad_vt $overhigh_bg;
      border-left: $post_image_hold_pad_hr $overhigh_bg;
      border-right: $post_image_hold_pad_hr $overhigh_bg;
      height: auto;
      width: 100%;
      min-width: 50%;
      object-fit: contain;
      object-position: center;
      padding: $post_image_hold_pad_vt $post_image_hold_pad_hr;
    }
  }

  &.loading-component {
    cursor: default;
    pointer-events: none;

    .content {
      width: 100%;
    }

    .author {
      width: 100%;
    }

    .author-names {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      span {
        height: 8px;
        max-width: 220px;
        width: 100%;
        animation: wave-lines 2s infinite ease-out;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    .title {
      @include font_size_type($loader: true, $type: "h2");
      max-width: 320px;
    }

    .text-block {
      height: 15vw;
    }
  }

  @media only screen and (max-width: 550px) {
    & {
      div.add-info {
        flex-direction: column;
        align-items: flex-start;

        .rt-side {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }

      .interactions {
        padding-top: 0;
      }
    }
  }

  @media only screen and (max-width: 360px) {
    & {
      .user-author {
        .button {
          display: none;
        }
      }
    }
  }
}
