.post-wrapper {
  background-color: $elem_over_bg;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  border-radius: $reg_radius;
  width: 100%;
  padding: $post_inn_pad;
  margin-bottom: $posts_gap;

  .container > div:not(:last-child),
  & > div:not(:last-child, .container) {
    margin-bottom: $post_item_gap;
  }
}

.post {
  .user-author {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .author {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      .user-icon {
        background: $color;
        border-radius: 50%;
        height: $post_user_logo;
        width: $post_user_logo;
        min-width: $post_user_logo;
        cursor: pointer;
      }

      .author-names {
        margin-left: $post_author_gap;
        cursor: pointer;

        .name {
          p {
            font-size: $p_font_size_small;
            font-weight: 300;
          }
        }
      }
    }

    p {
      margin: 0;
    }
  }

  .add-info,
  .interactions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .lt-side {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      & > .likes,
      .dislike {
        transition: all $transition_normal;

        div {
          color: inherit;
        }

        &:hover {
          color: $active_elem;
        }
      }

      & > div:not(:last-child) {
        margin-right: $post_action_vote_gap;
      }
    }

    .interactive {
      cursor: pointer;

      p {
        transition: all $transition_normal;
        &:hover {
          color: $active_elem;
        }
      }
    }
  }

  div.add-info {
    margin-bottom: 0;

    & > div > div {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }

    p {
      font-size: $p_font_size_small;
      margin: 0;
    }

    .hashtags {
      p:not(:last-child) {
        margin-right: $post_hash_gap;
      }
    }
    .counters {
      div:not(:last-child) {
        margin-right: $post_add_info_gap;
      }
    }
  }

  .content {
    .title {
      margin-bottom: $post_item_gap;

      h3 {
        font-weight: 500;
        margin: 0;
      }
    }

    .text-block {
      line-height: $post_text_height;

      & > *:not(:last-child) {
        margin-bottom: $post_item_gap;
      }

      p {
        margin: 0;
      }
    }

    .image-holder {
      background: $overhigh_bg;
      padding: $post_image_hold_pad;

      img {
        display: flex;
        height: auto;
        width: auto;
        min-width: 50%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
