.comments, .likes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  .counter {
    & > p {
      font-weight: 400;
      margin: 0;
    }

    margin-left: $post_action_btn_gap;
  }
}
