@import "./libs/normalize";
@import "./components/elements/index";
@import "./components/index";

.main {
    &.loading {
        height: 100vh;
        overflow: hidden;
    }
}

.main-content {
    align-items: flex-start;
}
