#banner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all $transition_normal;
  z-index: 3;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .background {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 0;
  }

  .wrapper {
    position: relative;
    background-color: $background;
    justify-content: flex-start;
    border-radius: 10px;
    max-width: 520px;
    min-height: 560px;
    padding-top: 56px;
    z-index: 1;

    .cross {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .logo {
      cursor: pointer;
      user-select: none;
      margin-bottom: 10px;

      p {
        font-family: "Tourney";
        font-weight: 400;
        font-size: $h1_font_size;
        text-transform: uppercase;
        line-height: 1.2;
        margin: 0;
      }
    }

    .title > * {
      font-weight: 400;
      margin: 0;
    }

    .login-form {
      max-width: 320px;
      padding-top: 48px;

      input {
        background-color: $overhigh_bg;
      }
    }

    .user-login-type {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      max-width: 320px;
      width: 100%;
      padding-top: 48px;

      .item {
        background: $overhigh_bg;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        border-radius: 12px;
        height: 46px;
        width: 100%;
        cursor: pointer;
        transition: all $transition_normal;

        &:hover {
          background: $outbox_hover;
        }

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        img {
          display: flex;
          height: 24px;
          width: 24px;
        }

        .title {
          margin-left: 11px;

          & > * {
            font-weight: 500;
          }
        }
      }
    }

    .user-login-other {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      margin-top: 16px;

      & > div > * {
        font-size: $h5_font_size;
        font-weight: 500;
        margin: 0;
      }

      & > div:not(:last-child) {
        margin-right: 3px;
      }

      .register {
        cursor: pointer;

        p {
          color: $active_elem;
        }
      }
    }
  }
}
