.masthead {
  position: fixed;
  background: $overhigh_bg;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  width: 100%;
  margin: 0 auto;
  z-index: 2;

  .logo {
    cursor: pointer;
    user-select: none;

    p {
      font-family: "Tourney";
      font-weight: 400;
      font-size: 2rem;
      line-height: 1.2;
      margin: 0;
    }
  }

  .interagtions {
    .button {
      margin-left: 121px;
    }
  }

  .user-action {
    &.not-logged {
      .fafont-icon {
        margin-right: 15px;
      }
    }
  }
}
