#sidebar {
  position: sticky;
  top: $header_height + $content_top_pad;
  max-width: $sdbar_width;
  height: calc(100vh - $header_height);
  padding: $sdbar_inner_gap;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      list-style: none;
    }
  }

  .nav {
    &:not(:last-child) {
      margin-bottom: $sdbar_nav_gap;
    }

    .open {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      cursor: pointer;
      user-select: none;

      div {
        transform: scale(1, 1);
        transition: all $transition_normal;
      }

      &.active {
        div {
          transform: scale(1, -1);
        }
      }
    }

    &:not(.nav-additional) {
      .item {
        background-color: $elem_over_bg;
        border-radius: $reg_radius;
        height: $sdbar_elem_height;
        cursor: pointer;
        user-select: none;
        padding: $sdbar_elem_inner_pd;
        margin-bottom: $sdbar_elem_gap;
        transition: all $transition_normal;

        &:hover {
          background-color: $overhigh_bg;
        }

        .image {
          position: relative;
          display: block;
          border-radius: $sdbar_elem_image_radius;
          height: $sdbar_elem_image;
          width: $sdbar_elem_image;
          object-fit: cover;
          object-position: center;
        }

        .title {
          margin-left: $sdbar_elem_inner_gap;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  .nav-additional {
    font-weight: 400;
    margin-top: $sdbar_additional_top_gap;

    p {
      margin: 0;
    }

    .item {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      width: 100%;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: $sdbar_add_text_gap;
      }

      p {
        line-height: 1.2;
        transition: all $transition_normal;

        &:hover {
          color: $active_elem;
        }

        &:not(:first-child) {
          margin-left: $sdbar_add_text_inner_gap;
        }
      }
    }

    .change-theme {
      .title {
        margin-right: $sdbar_add_text_inner_gap;
        cursor: default;

        p:hover {
          color: $color;
        }
      }

      .changer .wrapper .list p {
        margin-left: 0;
      }
    }
  }
}
