.fafont-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $fafont_height;
  width: $fafont_width;
  color: $color;

  &.big {
    height: $fafont_height_big;
    width: $fafont_width_big;
  }

  &.arrow-down {
    height: $fafont_height_arrow;
    width: $fafont_width_arrow;
  }

  &.interactive {
    position: relative;
    cursor: pointer;

    svg {
      transition: all $transition_normal;

      &:hover {
        color: $active_elem !important;
      }
    }
  }
}
