.admin-information-head {
  justify-content: flex-end;

  p {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  @media only screen and (max-width: 600px) {
    & {
      justify-content: center;
      flex-direction: column !important;
      align-items: flex-end;
      width: auto;
      margin-right: 0;

      p {
        margin: 0;
      }
    }
  }
}

#admin-panel-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .title {
    margin-bottom: 25px;
  }

  @import "./form";
}
