#messages-list {
  & > div:not(:last-child) {
    margin-bottom: $msg_item_gap;
  }

  .header {
    position: relative;
    z-index: 1;

    .changer {
      padding: 0;
    }
  }

  & > .container:not(.header) {
    position: relative;
    z-index: 0;
  }

  .container {
    @import "./message-item";
  }

  @media only screen and (min-width: 600px) and (max-width: 1000px) {
    & {
      .header {
        h5 {
          @include font_size_type($loader: false, $type: "h5", $minus: 0.125);
        }
      }
    }
  }
}
