.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: $reg_radius;
  outline: none;
  color: $color;
  padding: $button_gap;
  transition: all $transition_normal;
  min-height: 42px;

  &.big {
    padding: $button_big_gap;
  }

  &.small {
    padding: $button_small_gap;
  }

  &.full-width {
    width: 100%;
  }

  &.filled {
    background: $outbox_bg;

    &:hover {
      background: $outbox_hover;
    }
  }

  &.outline {
    border: 2px solid $color;
  }

  &.awesome-icon {
    & > div {
      margin-right: 8px;
    }
  }

  &.disabled {
    cursor: default;
    opacity: 0.75;
    pointer-events: none;
  }

  &.write-author {
    flex-direction: row-reverse;
    min-height: 32px;

    &.awesome-icon > div {
      margin-left: 8px;
      margin-right: 0;
    }

    .fafont-icon {
      height: 14px;
      width: 14px;
    }
  }

  .loading-circle {
    position: relative;
    background-image: url('data:image/svg+xml,\
<svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 40 40">\
<style> circle { animation: 4s a infinite linear, 3s o infinite linear; }\
@keyframes a {from{stroke-dasharray:100 0}50%25{stroke-dasharray:0 100}to{stroke-dasharray:100 0}}\
@keyframes o {from{stroke-dashoffset:75}to{stroke-dashoffset:375}}\
<%2Fstyle><circle r="15.9154943092" stroke-width="7" fill="none" stroke="snow" />\
</svg>');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px;
    display: block;
    height: 25px;
    width: 25px;
    opacity: 0.45;
  }

  @media only screen and (max-width: 425px) {
    & {
      min-height: 32px;
      @include font_size_type($loader: false, $type: "p_small");
    }
  }
}
