.open-more {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  & > p {
    margin: 0 8px 0 0;
  }
}

.changer {
  position: relative;

  & > p {
    color: $active_elem;
  }

  .wrapper {
    position: absolute;
    bottom: 26px;
    right: -10px;
    visibility: hidden;
    opacity: 0;
    transition: all $transition_normal;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    .triangle {
      position: relative;
      background: $notif_bg;
      border-radius: $triangle;
      top: 6px;
      width: 12px;
      height: 10px;
      transform: $triangle_down;
      margin: 0 9px 0 auto;
    }

    .list {
      background-color: $notif_bg;
      align-items: flex-start;
      border-radius: $reg_radius;
      padding: $smpop_inner_gap;
      margin-bottom: -12px;

      p {
        font-size: $p_font_size_small;
        text-align: left;
        cursor: pointer;
        user-select: none;
        width: max-content;
        transition: all $transition_normal;
        margin: 0;

        &:hover {
          color: $active_elem;
        }

        &:not(:last-child) {
          margin-bottom: $smpop_inner_elem_gap;
        }

        &.active {
          color: $active_elem
        }
      }
    }
  }
}
