.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: $main-wrap-width-val;
  width: 100%;
  margin: 0 auto;

  &.relative {
    position: relative;
  }

  &.content-pad {
    padding: $content_pad;
  }

  &.full-height {
    height: 100%;
  }

  &.page-height {
    justify-content: flex-start;
    min-height: 91.5vh;
  }

  &.full-width {
    max-width: 100%;
  }

  &.width-auto {
    width: auto;
  }

  &.content-use {
    padding: 10px 20px;
  }

  &.to-left {
    margin-left: 0;
  }

  &.to-right {
    margin-right: 0;
  }

  &.flex-left {
    justify-content: flex-start;
  }

  &.flex-right {
    justify-content: flex-end;
  }

  &.flex-space {
    justify-content: space-between;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-reverse-col {
    flex-direction: column-reverse;
  }

  &.flex-reverse {
    flex-direction: row-reverse;
  }

  &.flex-stretch {
    align-items: stretch;
  }

  &.flex-center {
    justify-content: center;
  }
}
