form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &.search {
    max-width: $search_width;
    transition: all $transition_normal;

    input {
      margin: 0;
    }
  }

  &.tiptap {
    & > div {
      width: 100%;
      color: $writter-color;
    }

    & > input,
    & > textarea {
      background-color: transparent;
      color: $writter-color;

      &::placeholder {
        color: $writter-placeholder;
      }
    }

    & > input {
      font-size: $h2_font_size;
      font-weight: 500;
      padding: 0;
      margin-bottom: 0;

      &::placeholder {
        color: $writter-placeholder-title;
      }
    }

    & > textarea {
      height: 100%;
      resize: none;
      font-weight: 400;
      padding: 0 0 0 0;
      margin: 0;
    }

    #tippy-1,
    #tippy-2,
    #tippy-3,
    #tippy-4,
    #tippy-5,
    #tippy-6,
    div[data-tippy-root] {
      width: fit-content;
    }

    .ProseMirror {
      p {
        margin: 10px 0;
      }

      ul,
      ol {
        padding: 0 1rem;
      }
    }

    .bubble-menu {
      display: flex;
      background-color: $writter-interact-bg;
      border-radius: $reg_radius;
      padding: 5px;
      width: fit-content;

      button {
        background: none;
        border: none;
        font-size: 0.85rem;
        font-weight: 500;
        color: $color;
        padding: 0 0.2rem;
        opacity: 0.6;

        &:hover,
        &.is-active {
          color: $active_elem;
          opacity: 1;
        }
      }
    }
  }

  .floating-menu {
    display: flex;
    align-items: center;
    width: fit-content;

    & > .fafont-icon {
      margin-right: 8px;
      color: $writter-color;
    }

    .container {
      background-color: $writter-interact-bg;
      border-radius: $reg_radius;
      padding: 6px;

      button {
        border: none;
        background: none;
        font-size: 0.85rem;
        font-weight: 500;
        color: $color;
        padding: 0 0.2rem;
        opacity: 0.6;

        &:hover,
        &.is-active {
          color: $active_elem;
          opacity: 1;
        }
      }
    }
  }

  &.answer-conversation,
  &.comment > div[aria-expanded],
  &.comment > div:nth-child(1),
  input,
  textarea,
  select {
    background-color: $background;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid transparent;
    border-radius: $reg_radius;
    height: $input_height;
    width: 100%;
    text-align: left;
    color: $color;
    padding: $input_pad;
    outline: none;
    margin-bottom: $input_gap;
    transition: all $transition_normal;

    &.tagwritter {
      background-color: $tag_writter_input;
      border-bottom-color: $tag_writter_input_over;
      color: $writter-color;
    }

    &.invalid {
      border-color: $error;
    }

    &::placeholder {
      color: $placeholder;
    }
  }

  &.answer-conversation,
  &.comment {
    position: relative;
    background-color: $background;
    border-radius: $reg_radius;

    & > div[aria-expanded],
    & > div:nth-child(1) {
      height: auto;
      padding-bottom: 25px;

      div {
        width: 100%;

        p:nth-child(1) {
          @include placeholder($placeholder, "");
        }
      }
    }

    textarea {
      resize: none;
      overflow: hidden;
      z-index: 0;
      margin: 0;
    }

    #tippy-1,
    #tippy-2,
    #tippy-3,
    #tippy-4,
    #tippy-5,
    #tippy-6,
    div[data-tippy-root] {
      padding: 5px;
      padding-top: 0px;
    }

    .ProseMirror-trailingBreak {
      position: absolute;
      top: 14px;
      padding-left: 6px;
    }

    .floating-menu {
      .container {
        padding-left: 5px;
      }

      .fafont-icon {
        margin-right: 0;
      }
    }

    .bubble-menu {
      display: flex;
      background-color: $outbox_bg;
    }

    .post-send,
    .post-image {
      background: transparent;
      position: absolute;
      border: 0;
      outline: none;
      right: 55px;
      bottom: 20px;
      color: $placeholder;
      z-index: 1;
      padding: 0;
    }

    .post-send {
      right: 20px;
    }
  }

  &.answer-conversation {
    justify-content: center;
    height: 60px;
    margin: 0;

    p[data-placeholder] {
      margin: 0;
    }

    p:not([data-placeholder]) {
      color: $color;
    }
  }

  &.answer-conversation > div:nth-child(1) {
    padding: 0;
  }

  code {
    background-color: $elem_over_bg;
    display: block;
    padding: 8px;
  }

  textarea {
    border: 1px solid transparent;
    height: auto;
    min-height: $area_height;
    resize: vertical;
    padding: $textarea_pad;
  }
}
