form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &.search {
    max-width: $search_width;
    transition: all $transition_normal;

    input {
      margin: 0;
    }
  }

  &.comment {
    position: relative;

    textarea {
      resize: vertical;
      z-index: 0;
      margin: 0;
    }

    .post-image {
      background: transparent;
      position: absolute;
      border: 0;
      outline: none;
      right: 20px;
      bottom: 20px;
      color: $placeholder;
      z-index: 1;
      padding: 0;
    }
  }

  input,
  textarea,
  select {
    background-color: $background;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid transparent;
    border-radius: $reg_radius;
    height: $input_height;
    width: 100%;
    text-align: left;
    color: $color;
    padding: $input_pad;
    outline: none;
    margin-bottom: $input_gap;
    transition: all $transition_normal;

    &.invalid {
      border-color: $error;
    }

    &::placeholder {
      color: $placeholder;
    }
  }

  code {
    background-color: $elem_over_bg;
    display: block;
    padding: 8px;
  }

  textarea {
    border: 1px solid transparent;
    height: auto;
    min-height: $area_height;
    resize: vertical;
    padding: $textarea_pad;
  }
}
