#writter {
  position: fixed;
  background-color: $writter-bg;
  height: 100%;
  width: 100%;
  top: $header_height;
  padding-top: 35px;
  padding-bottom: 95px;
  opacity: 0;
  visibility: hidden;
  transition: all $transition_normal;
  z-index: 2;

  &.active {
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
  }

  .container {
    justify-content: flex-start;
  }

  .head {
    position: relative;
    border-bottom: 1px solid $border_action;
    min-height: 62px;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 20px;
    z-index: 2;

    p {
      font-weight: 400;
    }

    .cross {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40%;
      right: 5%;
    }

    & > .container {
      height: 100%;
      max-width: 716px;
    }

    .lt-side {
      width: 100%;

      .title h3 {
        font-weight: 500;
        color: $writter-color;
        margin: 0;
      }

      .date {
        padding-top: 10px;

        p {
          margin: 0;
        }
      }
    }

    .rt-side {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      width: 100%;

      .category {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        width: 100%;
        margin-right: 20px;
        cursor: pointer;

        &.empty {
          max-width: 300px;
          white-space: nowrap;
        }

        & > p {
          margin: 0 4px 0 0;
          color: $writter-color;
        }

        .fafont-icon {
          width: 8px;
          color: $writter-color;
        }

        .changer {
          .wrapper {
            top: 18px;
            right: -11px;
            bottom: auto;
            width: auto;

            .list {
              width: auto;
            }
          }
        }
      }
    }
  }

  .content {
    max-width: 716px;
    height: max-content;
    width: 100%;
    z-index: 1;

    form {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;

      img {
        display: block;
        max-height: 250px;
        width: auto;
        margin: 15px auto;
      }
    }
  }

  @media only screen and (max-width: 920px) {
    & {
      .head {
        .cross {
          top: -20%;
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    & {
      .head {
        padding-right: $content_pad_out;
        padding-left: $content_pad_out;
      }

      .content {
        max-width: 740px + $content_pad_out;
        padding: $content_pad;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    & {
      .head {
        min-height: auto;

        .cross {
          top: 13%;
        }

        .container {
          flex-direction: column;
        }

        .rt-side {
          justify-content: space-between;

          .category {
            width: auto;
          }
        }
      }
    }
  }
}

@import "./writter/tag-editor";

&.black-themed {
  #tag-editor {
    .tags {
      .tag {
        .remove {
          &:before,
          &:after {
            background-color: $color;
          }
        }
      }
    }
    .available-tags {
      button {
        color: $outbox_bg !important;
      }
    }
  }
}
