#writter {
  position: fixed;
  background-color: $writter-bg;
  height: 100%;
  width: 100%;
  top: $header_height;
  padding-top: 35px;
  padding-bottom: 95px;
  opacity: 0;
  visibility: hidden;
  transition: all $transition_normal;

  &.active {
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
  }

  .container {
    justify-content: flex-start;
  }

  .head {
    position: relative;
    border-bottom: 1px solid $border_action;
    min-height: 62px;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 20px;
    z-index: 2;

    p {
      font-weight: 400;
    }

    .cross {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 40%;
      right: 5%;
    }

    & > .container {
      height: 100%;
      max-width: 716px;
    }

    .lt-side {
      width: 100%;

      .title h3 {
        font-weight: 500;
        color: $writter-color;
        margin: 0;
      }

      .date {
        padding-top: 10px;

        p {
          margin: 0;
        }
      }
    }

    .rt-side {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      width: 100%;

      .category {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        max-width: 85px;
        margin-right: 20px;
        cursor: pointer;

        & > p {
          margin-right: 4px;
          color: $writter-color;
        }

        .fafont-icon {
          width: 8px;
          color: $writter-color;
        }

        .changer {
          .wrapper {
            bottom: -48px;
            right: -11px;
            width: 96px;

            .list {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .content {
    max-width: 716px;
    height: 100%;
    width: 100%;
    z-index: 1;

    form {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
  }

  @import "./writter/tag-editor";
}
