#banner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all $transition_normal;
  z-index: 3;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .background {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 0;
  }

  .wrapper {
    position: relative;
    background-color: $background;
    justify-content: flex-start;
    border-radius: $reg_radius;
    border: 1px solid $overhigh_bg;
    max-width: $banner_usual_width;
    min-height: $banner_usual_height;
    padding-top: $banner_pad_top;
    z-index: 1;

    &.nickname {
      min-height: $banner_usual_height - 140;
    }

    .cross {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .logo {
      cursor: pointer;
      user-select: none;
      margin-bottom: $banner_logo_mrg;

      p {
        @include logo($font_size: $h1_font_size);
      }
    }

    .title > * {
      font-weight: 400;
      margin: 0;
    }

    .report-form,
    .login-form {
      max-width: $banner_log_width;
      padding-top: $banner_log_pad_top;
      padding-bottom: 20px;

      input {
        background-color: $overhigh_bg;
      }

      .do-you-want-be-admin {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: $banner_log_items_gap;

        p {
          margin-right: 8px;
        }

        input {
          height: 22px;
          width: 22px;
          margin: 0;
          cursor: pointer;
        }
      }
    }

    .report-form {
      max-width: 380px;
      textarea {
        background-color: $color;
        min-height: 220px;
        color: $writter-color;
      }
    }

    .user-login-type {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      max-width: $banner_log_width;
      width: 100%;
      padding-top: $banner_log_pad_top;

      .item {
        background: $overhigh_bg;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        border-radius: $reg_radius;
        height: $banner_log_item_heigth;
        width: 100%;
        cursor: pointer;
        transition: all $transition_normal;

        &:hover {
          background: $outbox_hover;
        }

        &:not(:last-child) {
          margin-bottom: $banner_log_items_gap;
        }

        img {
          display: flex;
          height: $banner_log_item_ico;
          width: $banner_log_item_ico;
        }

        .title {
          margin-left: $banner_log_title_gap;

          & > * {
            font-weight: 500;
          }
        }
      }
    }

    .user-login-other {
      display: none; // flex
      justify-content: center;
      flex-direction: row;
      align-items: center;
      margin-top: $banner_log_items_gap;

      & > div > * {
        font-size: $h5_font_size;
        font-weight: 500;
        margin: 0;
      }

      & > div:not(:last-child) {
        margin-right: $banner_other_log_mrg;
      }

      .register {
        cursor: pointer;

        p {
          color: $active_elem;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    & {
      .wrapper {
        min-height: auto;
        margin: 0 20px;
        padding: 20px;

        .user-login-other {
          flex-direction: column;
        }
      }
    }
  }
}
