.masthead {
  position: fixed;
  background: $overhigh_bg;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  width: 100%;
  margin: 0 auto;
  z-index: 2;

  .logo {
    cursor: pointer;
    user-select: none;

    p {
      @include logo;
    }
  }

  .interagtions {
    position: relative;

    &.writter-active {
      .button {
        margin: 0 -9.89% 0 0;
        visibility: hidden;
        opacity: 0;
      }

      .search {
        max-width: 680px;
      }
    }

    .button {
      position: relative;
      margin: 0 0 0 121px;
      transition: all $transition_normal;
    }
  }

  .user-action {
    &.not-logged {
      .fafont-icon {
        margin-right: $header_user_action_gap;
      }
    }

    .user-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      height: $user_icon_big;
      width: $user_icon_big;
      min-width: $user_icon_big;
      margin-left: 52px;
      overflow: hidden;

      img {
        display: flex;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  @media only screen and (max-width: 950px) {
    & {
      .interagtions {
        &.writter-active {
          .search {
            max-width: calc(100% - 12vw);
          }

          .button {
            margin: 0 -12vw 0 0;
          }
        }

        .button {
          margin: 0 0 0 40px;
        }
      }
    }
  }

  @media only screen and (max-width: 950px) {
    & {
      .user-action {
        .user-icon {
          margin-left: 2vw;
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    & {
      .interagtions {
        .search {
          max-width: calc(100% - 12vw);
        }

        .button {
          display: none;
        }
      }

      .user-action {
        & > .interactive:nth-child(1) {
          cursor: auto;
          width: 0;

          svg {
            display: none;
          }

          .notification {
            position: fixed;
            justify-content: flex-start;
            top: $header_height;
            right: 0;
            left: 0;
            height: 100%;
            width: 100%;

            .wrapper-content {
              height: 100%;

              .main {
                height: 100%;
                overflow: auto;
              }
            }

            .triangle {
              display: none;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    & {
      .logo {
        span {
          display: none;
        }
      }

      .interagtions {
        padding-left: 2vw;

        .search {
          max-width: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 420px) {
    & {
      .user-action {
        .user-icon {
          height: 36px;
          width: 36px;
          min-width: 36px;
        }
      }

      .interagtions {
        .search > input {
          height: 36px;
          padding: 0 10px;
        }
      }
    }
  }
}
