.masthead {
  position: fixed;
  background: $overhigh_bg;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  width: 100%;
  margin: 0 auto;
  z-index: 2;

  .logo {
    cursor: pointer;
    user-select: none;

    p {
      @include logo;
    }
  }

  .interagtions {
    .button {
      margin-left: 121px;
    }
  }

  .user-action {
    &.not-logged {
      .fafont-icon {
        margin-right: $header_user_action_gap;
      }
    }

    .user-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $user_icon_big;
      width: $user_icon_big;
      min-width: $user_icon_big;
      margin-left: 52px;

      img {
        display: flex;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
