#reels {
  max-width: $reels_width;
  padding: $reels_inner_pad;

  p {
    margin: 0;
  }

  .title {
    width: 100%;
    margin-bottom: $reels_title_gap;
  }

  .item {
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: $reels_items_gap;
    }

    .author-thread {
      .icon {
        background-color: $color;
        border-radius: 50%;
        height: $reels_user_logo;
        width: $reels_user_logo;
        min-width: $reels_user_logo;
        margin-right: $reels_user_gap;
        overflow: hidden;
      }

      .info {
        align-items: flex-start;

        .thematic {
          p {
            max-width: 200px;
            width: 100%;
            font-size: $p_font_size_small;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      margin-bottom: $reels_user_gap;
    }

    .text-block {
      display: block;
      width: 100%;

      & > * {
        display: none;
        font-weight: 300;
        line-height: 1.2;
      }

      p {
        display: none;

        &:nth-child(1) {
          display: block;
          display: -webkit-box;
          max-height: 4.5rem;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }
    }
  }
}
